{% extends "layout.html" %}

{% block title %}
  Purchase
{% endblock %}

{% block header %}
  <div class="container-fluid">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ul class="navbar-nav me-auto mt-2">
          <li class="nav-item"><a class="nav-link" href="/history">History & Credit</a></li><br><br>
          <li class="nav-item"><a class="nav-link" href="/book">Book Tickets</a></li>
          <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mt-2">
          <li class="nav-item"><a class="nav-link" href="/password">Change Password</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
      </ul>
    </div>
    </div>

{% endblock %}
{% block main %}
<style>
  body{
   overflow: hidden;
   position: 100%;
}
</style>
 <div class="row bg">
  <div class="container">
   <div class="text">
    <form  autocomplete="off" action="/password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="oldpass" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newpass" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirm" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
    </div>
    </div>
{% endblock %}