{% extends "layout.html" %}

{% block title %}
   Register
{% endblock %}

{% block header %}
<ul class="navbar-nav ms-auto mt-2">
    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
{% endblock %}
{% block main %}
<style>
    body{
     overflow: hidden;
     position: 100%;
  }
</style>
<div class="row bg">
    <div class="container">
     <div class="text">
<form  autocomplete="off" action="/register" method="post">
    <div class="mb-3">
        <input autocmplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
    </div>
         <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
    </div>
    </div>
{% endblock %}